<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3 profile-container">
            <img class="profile-pic" src="/images/elliot.jpg">
        </div>
        <div class="col-md-6">
            <h1><%= user.username %></h1>
            <br>
            <%if(currentUser.following.indexOf(user._id) ==-1 && !currentUser._id.equals(user._id)){%>
            <button class="btn btn-primary follow-button" value="<%= user.username %>">Follow |<%=user.followers.length %></button>
            <%}else{%>
            <button class="btn btn-default follow-button" value="<%= user.username %>" disabled>Following |<%=user.followers.length %></button>
            <%}%>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <h4>Feed</h4>
            <hr>
            <div class="list-group">
                <li class="list-group-item active"><a class="user-list" href="/users/<%=user._id%>">Answers</a><span class="badge"><%=user.answers.length %></span></li>
                <li value="<%= user._id %>" id="questions" class="list-group-item">Questions<span class="badge"><%=user.questionsasked.length %></li>
                <li value="<%= user._id %>"  id="followers"class="list-group-item">Followers<span class="badge"><%=user.followers.length %></li>
                <li value="<%= user._id %>"  id="following"class="list-group-item">Following<span class="badge"><%=user.following.length %></li>
            </div>
        </div>
                          <div id='loadingmessage' style='display:none'>
                      <img src='/images/preview.gif'/>
                    </div>
        <div class="col-md-8" id="blockspace">
            <h4><%= user.answers.length %> Answers</h4>
            <hr>
         <% user.answers.forEach(function(answered){ %>
              <div class="well answers">
                 <h3><a href="/questions/<%=answered.question._id%>"><%=answered.question.title %></a></h3>
              <div class="answer-heading">
              <img class="answer-profile-pic" src="/images/elliot.jpg">
              <a href="/users/<%=answered.answer.author.id%>"><%= answered.answer.author.username %></a>
              <p>Answered&nbsp&nbsp<i><%= answered.answer.written.toString().substr(4,12) %></p></i>
              </div>
              <p><%- answered.answer.text %></p>
             <% if(currentUser.upvotedanswers.indexOf(answered.answer._id) == -1){%>
              <button class="btn btn-xs btn-primary upvote-button" value="<%= answered.answer._id %>">upvote|<strong><%=answered.answer.upvotes %></strong></button>
              <%}else{%>
              <button class="btn btn-xs btn-default upvote-button" value="<%= answered.answer._id %>"disabled>upvoted|<strong><%=answered.answer.upvotes %></strong></button>
              <%}%>
            <button class="comment">Comment</button>
            <button value="<%=answered.answer._id%>" class="allcomments">All Comments</button>
            <form style="display:none" action="/comment/<%=answered.answer._id%>" method="POST" class="form-inline coment-form">
                <img class="answer-profile-pic" src="/images/elliot.jpg">
                <div class="form-group">
                     <input id="comment-input-id" class="comment-input form-control"name="comment" type="text" placeholder="Add a comment...">
                     <button class="comment-post btn  btn-primary" value="<%=answered.answer._id%>#<%=currentUser.username%>">Post</button>
                </div>
            </form>
            <div class="comment-show" id="<%=answered.answer._id%>comments">
            </div>
            </div>
         <%});%>
            
        </div>
    </div>
    
</div>